{% extends 'base.html.twig'  %}

{% block body %}
    <h1>Liste des matériels : </h1>

    <a class="btn btn-link" href="{{ path('add_material') }}">Ajouter un matériel</a>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>NOM</th>
            <th>DESCRIPTION</th>
            <th>PRIX</th>
            <th> </th>

        </tr>
        </thead>
        <tbody>
        {% for material in materials %}
            <tr>
                <td>{{ material.name }}</td>
                <td>{{ material.description }}</td>
                <td>{{ material.price }} €</td>
                <td>
                    <a href="{{ path('edit_material' , { 'id': material.id  }) }}">Modifier</a>
                <br />
                    <a href="{{ path('delete_material' , { 'id': material.id  }) }}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}